<main>

  <div class="movie-title">
    <a href="#/">&#8592;</a>
    <h1>{{ vm.result.Title }} <span>({{ vm.result.Year }})</span></h1>
  </div>

  <div class="movie-poster fade-in">
    <img ng-src="{{ vm.result.Poster }}" alt="{{ vm.result.Title }}">
  </div>

  <div class="movie-details">
    <b>{{ vm.result.imdbRating }}</b>
    <p>Released: {{ vm.result.Released }}</p>
    <p>Runtime: {{ vm.result.Runtime | MovieTime }}</p>
    <p>Genre: {{ vm.result.Genre }}</p>
    <p>Actors: {{ vm.result.Actors }}</p>
    <p>{{ vm.result.Plot }}</p>
    <p>Language(s): {{ vm.result.Language }}</p>
    <p>Awards: {{ vm.result.Awards }}</p>
    <p style="text-transform: capitalize">Type: {{ vm.result.Type }}</p>
    <small>(This query took {{ vm.result.time }}ms to load)</small>
  </div>

</main>
