<div>

  <input id="search-bar" type="text" placeholder="The Matrix, Harry Potter, The Shawshank Redemption" autofocus
  ng-model="vm.title"
  ng-value="vm.title"
  ng-change="vm.getMovieByTitle(vm.title)">

    <div class="movie-list">
      <ul ng-show="vm.title.length > 0">
          <li ng-repeat="movie in vm.movies | Unique: 'Title' | orderBy: 'imdbRating'">
            <a ng-href="#/movie/{{ movie.imdbID }}">{{ movie.Title }} ({{ movie.Year }})</a>
          </li>
      </ul>
    </div>

</div>
